.env

/flood-segmentation/data/*/
/flood-segmentation/versions/**
!/flood-segmentation/versions/example
!/flood-segmentation/versions/example/**


*/.ipynb_checkpoints/
*/.vscode/
*/.idea/
*/.git/
*/.gitignore
*/.DS_Store

output/
sentinel-downloader/*.json

*/dist/
/build/
*.egg-info/
*.onnx
/env

save

__pycache__/

/stats/*.tif

# Ignore everything in the stats/data folder
/stats/data/**

# Un-ignore specific subdirectories
!/stats/data/canoas
!/stats/data/canoas/**
!/stats/data/canoas_no_flood
!/stats/data/canoas_no_flood/**
!/stats/data/output_canoas
!/stats/data/output_canoas/**
!/stats/data/output_canoas_no_flood
!/stats/data/output_canoas_no_flood/**/

.ipynb_checkpoints

config.json
ee.json